body{
  justify-content: center; 
}

h1{
  text-align: center;
  font: 50px arial;
  text-transform: uppercase;
  font-weight: bold;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 backdrop-filter: blur(0px) !important;
 background: rgba(224, 54, 54, 0.2);
 width: 700px;
 margin-left: 27%;
}
form input{
  width: 300px;
  padding: 20px 30px 20px 30px;
  margin: 20px;
  border: 2px solid #ccc;
}
button{
  font-size: larger;
  font-weight: bold;
  width: 300px;
  padding: 20px 30px 20px 30px;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 10px ;
  background-color: #f99a92;
  cursor: pointer;
}